 <h1> Man Hung </h1>
 <img src="IMG_5458.jpg" />
 <h2> I am creating a website on the cloud </h2>
 <p> Cloud computing is the future of IT. This is inevitable. Learning cloud computing can be both fun and challenging though, especially if you are new to software develpment. You may click on the following link to learn more about cloud computing.  </p>
 <a href="http://en.wikipedia.org/wiki/Cloud_computing"> </a>
