 <h1> Read more about the cloud </h1>
 <p> Here's another link from IBM that explains a little more on cloud computing. </p>
 <a href="http://www.ibm.com/cloud-computing/us/en/what-is-cloud-computing.html"> Cloud! </a>

 get '/read_more' do
   erb :read_more
 end